<launch>
    <include file="$(find mobile_robot_comms)/launch/slam.launch" />

    <include file="$(find mobile_robot_comms)/launch/complementary.launch" />
    <include file="$(find mobile_robot_comms)/launch/ekf.launch" />

    <node pkg="mobile_robot_comms" type="imu_filter_node" name="imu_filter_node" />
</launch>
