<launch>
    <node pkg="mobile_robot_comms" type="imu_filter_node" name="imu_filter_node" />

    <include file="$(find mobile_robot_comms)/launch/complementary.launch" />
    <include file="$(find mobile_robot_comms)/launch/ekf.launch" />
    <include file="$(find rplidar_ros)/launch/rplidar_s1.launch" />
    <include file="$(find mobile_robot_comms)/launch/robot_base.launch" />
    <include file="$(find mobile_robot_comms)/launch/amcl.launch" />
</launch>
