<launch>
    <node pkg="mobile_robot_comms" type="static_tf_publisher_node" name="static_tf_publisher"
          output="screen">
    </node>
    <node pkg="mobile_robot_comms" type="base_controller_node" name="base_controller"
          output="screen">
        <param name="axis_length" value="0.28" />
        <param name="wheel_radius" value="0.06" />
        <param name="ticks_rev" value="48" />
    </node>
    <node pkg="mobile_robot_comms" type="odometry_publisher_node" name="odometry_publisher"
          output="screen">
        <param name="axis_length" value="0.28" />
        <param name="wheel_radius" value="0.06" />
        <param name="ticks_rev" value="48" />
    </node>
</launch>